<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <title>Rozwiazania</title>
</head>
<body>
<section class="container">
    <header>
        <h1>Tabela</h1>
    </header>
    <table class="table">
        <thead>
        <th>Student</th>
        <th>Oddanych zadan</th>
        <th>Opoznienie w dniach</th>
        {% for record in datatable %}
        <tr>
            <td> {{ record.student }}</td>
            <td> {{ record.tasks }}</td>
            <td> {{ record.delay }}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>
    <nav>
        <ul class="pagination">
            {% if datatable.has_previous %}
            <li>
                <a href="/record/page/1" aria-label="Previous">
                    <span aria-hidden="true">Pierwsza strona</span>
                </a>
            </li>
            <li>
                <a href="/record/page/{{ page_num|add:" -1" }}" aria-label="Previous">
                <span aria-hidden="true">Poprzednia strona</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Pierwsza strona</span>
                </a>
            </li>
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Poprzednia strona</span>
                </a>
            </li>
            {% endif %}

            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Strona: {{ page_num }} z {{ page_max }} </span>
                </a>
            </li>

            {% if datatable.has_next %}
            <li>
                <a href="/record/page/{{ page_num|add:" 1" }}" aria-label="Next">
                <span aria-hidden="true">Następna strona</span>
                </a>
            </li>
            <li>
                <a href="/record/page/{{ page_max }}" aria-label="Next">
                    <span aria-hidden="true">Ostania strona</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Następna strona</span>
                </a>
            </li>
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Ostania strona</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</section>
<section class="container">
    <form>
        <input id="querycontent" type="text" id="findinput"/>
        <input id="actual_num" value="0" style="display: none"/>
        <input id="max_num" value="0" style="display: none"/>
    </form>
    <button onclick="sendData()">SEARCH</button>
    <nav>
        <table class="table">
            <thead>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Numer indeksu</th>
            </thead>
            <tbody>
            {% for i in loop_times %}
            <tr id="row{{ i }}">
                <td id="name{{ i }}"></td>
                <td id="firstname{{ i }}"></td>
                <td id="index{{ i }}"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </nav>
</section>
<section>
    <nav>
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </nav>
</section>
</body>
</html>