<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <title>Search</title>
</head>
<body>
<section class="container">
    <header>
        <h1>Tabela page_num</h1>
    </header>
    <table class="table">
        <thead>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Indeks</th>
        {% for record in datatable %}
        <tr>
            <td> {{ record.imie }}</td>
            <td> {{ record.nazwisko }}</td>
            <td> {{ record.numerIndeksu }}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>
</section>
<section class="container">
    <form action="" method="post">
        <input id="querycontent" type="text" id="findinput" value="{{ querycontent }}">
        <input type="submit" value="SEARCH">
    </form>
</section>
</body>
</html>